@import './partials/reset';
@import './partials/variables';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

// General Rules
.main-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-space-b {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

// Header
header {
    .first-section-header {
        height: 20px;
        background-color: $firstColor;
        text-align: end;
        span {
            font-weight: 500;
            font-size: 11px;
            line-height: 20px;
            margin-left: 40px;
            color: $secondColor;
        }
    }
    .second-section-header {
        height: 90px;
        background-color: $secondColor;
        img {
            width: 70px;
            height: 70px;
        }
        ul {
            a {
                padding: 31px 15px;
                color: $thirdColor;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                // border-bottom: 5px solid $firstColor;
            }
        }
        #search-bar {
            position: relative;
            display: block;
            height: 40px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 3px solid $firstColor;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $thirdColor;
                font-weight: bold;
                text-align: end;
            }
        }
    }
    .jumbo-section-header {
        height: calc(60vh - 110px);
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
    }
}

// Footer
footer {
    .header-footer{
        height: 150px;
        background-color: $firstColor;
        .item-bar-footer {
            img {
                width: 50px;
            }
            h3 {
                text-transform: uppercase;
                margin-left: 10px;
                font-size: 13px;
                color: $secondColor;
            }
        }
    }
    .main-footer {
        background-image: url('../img/footer-bg.jpg');
        .links {
            padding: 50px 0;
            .link-left, .link-center, .link-rigth {
                margin-right: 40px;
                h2 {
                    color: $secondColor;
                }
                li {
                    margin-top: 5px;
                }
                a {
                    color: gray;
                    font-size: 14px;
                }
            }
            .link-left {
                .shop-title {
                    margin-top: 20px;
                }
            }
        }
        .img-footer {
            width: 700px;
            height: 400px;
            background-image: url('../img/dc-logo-bg.png');
            background-position: center;
            background-size: 600px;
            background-repeat: no-repeat;
        }
    }
}

// /comics --> Main
main {
    background-color: $thirdColor;
    padding: 50px 0;
    .card {
        width: calc(100% / 6 - 20px);
        margin: 10px 10px;
        img {
            display: block;
            width: 100%;
            height: 182.55px;
        }
        .title {
            margin-top: 10px;
            font-size: 10px;
            color: $secondColor;
        }
    }
    button {
        display: block;
        margin: 30px auto 0;
        width: 200px;
        height: 40px;
        background-color: $firstColor;
        border: none;
        color: $secondColor;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}